

<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Father Name</th>
              <th>Spouse</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Phone</th>
              <th>Pan No</th>
              <th>Aadhar No</th>
              <th>Address</th>
               <th>spouse_aadhar</th>
              <th>caste</th>
              <td>Is Verified</td>
              <td>Verify</td>


          </tr>
        </thead>
<%@user.each do |user|%>


        <tbody>
          <tr>
            <td><%= user["name"]%></td>
            <td><%= user["father_name"]%></td>
            <td><%= user["spouse_name"]%></td>
            <td><%= user["birth_date"]%></td>
            <td><%= user["email"]%></td>
            <td><%= user["gender"]%></td>
            <td><%= user["phone"]%></td>
            <td><%= user["pan_number"]%></td>
            <td><%= user["aadhar_no"]%></td>
            <td><%= user["address"]%></td>
            <td><%= user["spouse_name"]%></td>
            <td><%= user["caste"]%></td>
            <td><%= user['is_verified']%></td>
            <td><a href="#">verify</a></td>

          </tr>
        </tbody>
        <%end%>

      </table>



<br><br>


