

<%= form_tag('/login', method: "post") do%>

<%= label_tag(:address, "Email") %>
<%= email_field(:user, :address) %><br>

<%= label_tag(:password, "password ") %>
<%= password_field_tag(:password)%><br>

<%= submit_tag 'Submit'%>
<%end%>

<a href="/vregistration">Register</a>


<div class="container white z-depth-2" id="login-form">
	<ul class="tabs teal">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
	</ul>
	<div id="login" class="col s12">
		<form class="col s12">
			<div class="form-container">
				<h3 class="teal-text">Hello</h3>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light teal" type="submit" name="action">Connect</button>
					<br>
					<br>
					<a href="/vregistration">Register</a>
				</center>
			</div>
		</form>
	</div>

</div>





<style media="screen">

 #login-form
 {
  margin-top: 80px;
  width: 400px;
  height: 500px;
 }


</style>
