<!DOCTYPE html>
<html>
<head>
  <title>Mart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application','data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<main>


<div id="nav-selector">


<!-- Dropdown Structure -->
<ul id="User" class="dropdown-content">
  <li><a href="/admin/Alluser">Alluser</a></li>
</ul>

<ul id="scheme" class="dropdown-content">
  <li><a href="/admin/Addscheme">Add Scheme</a></li>
  <li><a href="/admin/seescheme">All Scheme</a></li>
</ul>

<ul id="notice" class="dropdown-content">
  <li><a href="/admin/Addnotice">Add Notice</a></li>
  <li><a href="/admin/seenotice">See Notices</a></li>

</ul>

<ul id="flats" class="dropdown-content">
  <li><a href="/admin/Addflat">Add Flats</a></li>
  <li><a href="/admin/seeflat">see Flats</a></li>

</ul>



<ul id="fb" class="dropdown-content">

<% if session[:user_id]%>

<%end%>
</ul>

<ul id="fb_login" class="dropdown-content">

 <% if session[:user_id]%>

<%end%>

</ul>



<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo ">RMC</a>

    <ul class="right hide-on-med-and-down">

    <li><a href="/admin/index">Home</a></li>
      <!-- Dropdown Trigger -->
    <li><a href="/admin/Alluser">All User</a></li>

       <li><a class="dropdown-button" href="#" data-activates="scheme">Scheme<i class="material-icons right">arrow_drop_down</i></a></li>

       <li><a class="dropdown-button" href="#" data-activates="flats">Flats<i class="material-icons right">arrow_drop_down</i></a></li>

        <li><a class="dropdown-button" href="#" data-activates="notice">Notices<i class="material-icons right">arrow_drop_down</i></a></li>

    </ul>

    <!--  login option in mobile tab -->

    <ul class="right hidden-lg-o">
        <% if session[:user_id]%>
       <%end%>
      </ul>






    <ul id="slide-out" class="side-nav">
       <br>
      <li><a href="/admin/index">Home</a></li>
      <hr>
      <li><a href="/admin/Alluser">All User</a></li>
        <hr>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Scheme<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>

                 <li><a href="/admin/Addscheme">Add Scheme</a></li>
   <li>          <a href="/admin/seescheme">All Scheme</a></li>

              </ul>
            </div>

          </li>
        </ul>
      </li>
     <hr>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Flat<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/admin/Addnotice">Add Notice</a></li>
                <li><a href="/admin/seenotice">See Notices</a></li>

               </ul>
            </div>

          </li>
        </ul>
      </li>
      <hr>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Notice<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                  <li><a href="/admin/Addflat">Add Flats</a></li>
                  <li><a href="/admin/seeflat">see Flats</a></li>
              </ul>
            </div>

          </li>
        </ul>
      </li>
      <hr>
    </ul>

    <a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<br>



<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>



 <main></main>
<div class="container">
<div class="row">
<%= yield%>
</div>
</div>
</main>




    <footer class="page-footer indigo darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h2 class="white-text">About Rajkot Municipal Corporation</h2>
              <p class="grey-text text-lighten-4">Rajkot Municipal Corporation (RMC) is a local government committed to provide basic infrastructure facilities including entertainment facilities to the people of the city.</p>


            </div>
            <div class="col l3 s12">
              <div id="fb-root"></div>
              <div class="fb-page "
              data-href="https://www.facebook.com/"
              data-width="380"
              data-layout="standard"
              data-hide-cover="false"
              data-action="share"
              data-show-facepile="true">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
           <a class="brown-text text-lighten-3" href="#">© 2017 Awass Yojna. All rights reserved.</a>
          </div>
        </div>
      </footer>
</body>
</html>




<style type="text/css">
  .side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding: 1px 16px;
}
img{
  border-radius: 50%;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  @media(min-width:769px){
    .hidden-lg-o li{
      display: none!important;
    }
  }
  .pagination{
    background-color: white;
    margin-bottom: 5px;
  }
  nav{
    background-color: #1a237e;
  }
  ul > .uiList _4cg3 _509- _4ki{
    width: 225px;
  }
</style>
