<!DOCTYPE html>
<html>
  <head>
    <title>CodeCrushersRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>






  <div class="navbar-upper">
  <nav class="z-depth-0">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="/" class="brand-logo" style="display:block;float:left;"><img class="logo" src="http://www.delhiaawasyojna.com/wp-content/uploads/2017/02/delhiaawasyojna-logo.png" ></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            <%if !session[:user_id]%>
            <li><a class="waves-effect waves-light btn btn-small animated tada" href="/vlogin">login</a></li>
            <li><a class="waves-effect waves-light btn btn-small animated tada" href="/vregistration">Register</a></li>
            <%end%>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>



<div class="navbar-lower">
  <nav class="z-depth-0 nav-extended">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">

          <a class="fadeInLogo brand-logo animated slideInUp">
            <!-- M -->
            <!-- <img src="https://materializecss.com/res/materialize.svg" alt="" style="margin-top:12px;" height="40px"/> -->
            <i class="large material-icons">important_devices</i>
          </a>


                <ul  class="right hide-on-med-and-down">
                <li><a href="/home/hometab">Home</a></li>
                <li  ><a href="/home/ray">Rajkot Awas Yojna</a></li>
                <li   ><a href="/home/smartcity">Smart City</a></li>
                <li  ><a href="/home/location">Location</a></li>
                <li  ><a href="/schemes/scheme">Schemes</a></li>
                <li   ><a href="/home/contact">Contacts</a></li>

              <% if session[:user_id]%>
               <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1"><i class="material-icons">account_box</i></a>

                <ul id="dropdown1" class="dropdown-content">
                        <li><a href="/User_profile">Profile</a></li>
                        <li><a href="/">View Schemes</a></li>
                        <li><%= link_to "Logout", url_for(controller: :login, action: :logout), method: :post%></li>
                        <%end%>
                </ul>

                  </li>

                </ul>
        </div>

      </div>



      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">A really long item here</a></li>
        <li><a href="#!">two</a></li>
        <!-- <li class="divider"></li> -->
        <li><a href="#!">grade</i>three</a></li>
      </ul>



    <ul class="right hidden-lg-o">
        <% if current_user%>
            <li><%= link_to "Logout", url_for(controller: :login, action: :logout), :class=>"dropdown-button",method: :post%></li>

        <%else%>
            <li><a href="/vlogin">Log In</a></li>
        <%end%>
    </ul>



      <ul id="slide-out" class="side-nav">
        <li><a href="/home/hometab">Home</a></li>
        <li  ><a href="/home/ray">Rajkot Awas Yojna</a></li>
        <li   ><a href="/home/smartcity">Smart City</a></li>
        <li  ><a href="/home/location">Location</a></li>
        <li  ><a href="/schemes/scheme">Schemes</a></li>
        <li   ><a href="/home/contact">Contacts</a></li>

        <% if session[:user_id]%>
        <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1"><i class="material-icons">account_box</i></a>

        <ul id="dropdown1" class="dropdown-content">
                <li><a href="/User_profile">Profile</a></li>
                <li><a href="/">View Schemes</a></li>
                <li><%= link_to "Logout", url_for(controller: :login, action: :logout), method: :post%></li>
                <%end%>
              </ul>


          </li>




      </ul>

      <a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

    </div>
  </nav>


<main>
<div class="container">
<div class="row">
<%= yield%>
</div>
</div>
</main>


    <footer class="page-footer indigo darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
              <div id="fb-root"></div>
              <div class="fb-page "
              data-href="https://www.facebook.com/ipumart/"
              data-width="380"
              data-layout="standard"
              data-hide-cover="false"
              data-action="share"
              data-show-facepile="true">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
           <a class="brown-text text-lighten-3" href="#">© 2017 Awass Yojna. All rights reserved.</a>
          </div>
        </div>
      </footer>



  </body>
</html>




<style media="screen">
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav.nav-extended .nav-wrapper {
    min-height: 71px;

}
main {
  flex: 1 0 auto;
}
</style>

<script type="text/javascript">
$('.dropdown-button').dropdown({
   inDuration: 300,
   outDuration: 225,
   constrainWidth: false, // Does not change width of dropdown to that of the activator
   hover: true, // Activate on hover
   gutter: 0, // Spacing from edge
   belowOrigin: false, // Displays dropdown below the button
   alignment: 'left', // Displays dropdown with edge aligned to the left of button
   stopPropagation: false // Stops event propagation
 }
);

</script>
